<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">PRODUCT DETAIL</h1>
        <div class="product mb-5 mt-5">
            <p>ID: {{product.id}}</p>
            <p>Title: {{product.title}}</p>
            {% if product.discounted_price %}
                <p>Price: {{product.discounted_price}} {{product.currency}}</p>
            {% else %}
                <p>Price: {{product.original_price}} {{product.currency}}</p>
            {% endif %}
            <p>Rating: {{product.rating}}/5</p>
            <p>URL: <a href="{{product.url}}">{{product.url}}</a></p>
            <p>Image URL: <a href="{{product.img}}">{{product.img}}</a></p>
            <img src="https://ae01.alicdn.com/kf/S35e6c2fefeab4dfbbe5fb9735e9a17b4e/Smart-Watch-D18-Upgrade-Men-Women-Smartwatch-Bracelet-Heart-Rate-Blood-Pressure-Fitness-Tracker-Sport-Smartband.jpg_.webp" alt="">
            <p>Date Added: {{product.date.strftime('%Y-%m-%d, %H:%M:%S')}}</p>
            <p>Last Update: {{product.last_updated.strftime('%Y-%m-%d, %H:%M:%S')}}</p>
            <form method="POST">
                <input type="submit" name="delete_btn" value="Delete Product" class="btn btn-danger">
            </form>
            
            <hr>
        </div>

        {% set dates = [] %}
        {% set prices = [] %}

        {% for price in price_history %}
            {{dates.append(price.date.strftime('%Y-%m-%d\n%H:%M:%S')|string) or ""}}
            {{prices.append(price.price|string) or ""}}
        {% endfor %}

        <input type="hidden" id="dates" value="{{dates|join(',')}}">
        <input type="hidden" id="prices" value="{{prices|join(',')}}">

        <div class="mb-5">
            <canvas id="graph"></canvas>
        </div>

        <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    </div>
</body>
</html>